@model CuriousDriveWebClient.RegisterViewModel;

@{
    ViewBag.Title = "Resgiter - Curious Drive";
}

<div class="row col-lg-10 col-12" style="float:right">

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", defaultbutton = "LogIn" }))
    {
        <form name="registerForm" class="" role="form" autocomplete="off" novalidate="">
            
            @Html.AntiForgeryToken()

            <div class="col-lg-12 col-12">
                <br />
                <br />
                <br />
                <br />
            </div>

            <div class="col-lg-12 card d-none d-md-block">

                <div class="col-lg-12">
                    <br />
                    <br />
                    <br />
                    <br />
                </div>

                <div class="row">
                    <div class="col-lg-7" style="border-right:2px solid #F2F2F2;">
                        <img src="~/Content/images/logo.png" style="border-radius:5px" class="img-thumbnail" />
                    </div>

                    <div class="col-lg-5">

                        <div class="col-lg-12">
                            @Html.TextBoxFor(m => m.emailAddress, new { id = "txtEmailAddress", placeholder = "email", @class = "form-control" })
                        </div>
                        <div class="col-lg-12">
                            <br />
                        </div>
                        <div class="col-lg-12">
                            @Html.PasswordFor(m => m.password, new { id = "txtPassword", placeholder = "password", autocomplete="new-password", @class = "form-control" })
                        </div>
                        <div class="col-lg-12">
                            <br />
                        </div>
                        <div class="col-lg-12">
                            @Html.PasswordFor(m => m.confirmPassword, new { id = "txtPassword", placeholder = "confirm password",autocomplete="new-password", @class = "form-control" })
                        </div>

                        <div class="col-lg-12">
                            <br />
                        </div>
                        <div class="col-lg-12">
                            <button id="LogIn" class="btn btn-primary" type="submit" name="submitType" value="Register">Register</button>

                            <span style="font-weight:bold">
                                @Html.ActionLink("Already an user?", "Login", "Account")
                            </span>

                            <span style="float:right;font-weight:bold">
                                @Html.ActionLink("Forgot Password?", "ForgotPassword", "Account")
                            </span>

                        </div>
                        <div class="col-lg-12">
                            <hr />
                        </div>
                        <div class="col-lg-12">
                            <br />
                        </div>
                        <div class="col-lg-12">
                            @foreach (var item in Model.AllSchemeProvider)
                            {
                                @if (item == "Facebook")
                                {
                                    <button class="btn btn-social btn-facebook" type="submit" name="submitType" value="@item">
                                        <span class="fa fa-facebook"></span> Sign in with Facebook
                                    </button>
                                }
                                @if (item == "Google")
                                {
                                    <button class="btn btn-social btn-google" type="submit" name="submitType" value="@item">
                                        <span class="fa fa-google-plus"></span> Sign in with Google
                                    </button>
                                }
                            }
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <br />
                    <br />
                    <br />
                    <br />
                </div>

            </div>

            <div class="col-12 card d-md-none d-block">

                <div id="divSmallLogin" class="col-xs-12">

                    <div class="col-12">
                        @Html.TextBoxFor(m => m.emailAddress, new { placeholder = "email", @class = "form-control" })
                    </div>
                    <div class="col-12">
                        <br />
                    </div>
                    <div class="col-12">
                        @Html.PasswordFor(m => m.password, new { placeholder = "password", @class = "form-control" })
                    </div>
                    <div class="col-12">
                        <br />
                    </div>
                    <div class="col-12">
                        @Html.PasswordFor(m => m.confirmPassword, new { id = "txtPassword", placeholder = "confirm password", @class = "form-control" })
                    </div>
                    <div class="col-12">
                        <br />
                    </div>
                    <div class="col-12">
                        <input id="smallLogIn" class="btn btn-primary" type="submit" name="submitType" value="Login" />
                        @*@Html.ActionLink("Sign up with email", "Register", "Account")*@
                    </div>
                    <div class="col-12">
                        <br />
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-12">
                <br />
            </div>

        </form>
    }

</div>

<script type="text/javascript">

    var ButtonKeys = { "EnterKey": 13 };
    $(function () {
        $("#Login").keypress(function (e) {
            if (e.which == ButtonKeys.EnterKey) {
                var defaultButtonId = $(this).attr("defaultbutton");
                $("#" + defaultButtonId).click();
                return false;
            }
        });
    });

    $(function () {
        $("#smallLogIn").click(function () {

            $.ajax({
                url: '@Url.Action("Login", "Account")',
                type: "post",
                dataType: "html",
                contentType: 'application/json; charset=utf-8',
                error: function () {
                    alert("error");
                }
            });
        });
    });

</script>

