@model CuriousDriveWebClient.AddClassViewModel;

@{
    ViewBag.Title = "Add Class - Curious Drive";
}

@using (Html.BeginForm("AddClass", "Admin", FormMethod.Post, new { @class = "form-horizontal row card", role = "form" }))
{
    @Html.AntiForgeryToken()

    <form name="classForm" class="form-horizontal" role="form" novalidate>

        <div class="col-lg-12 col-12">
            <br />
        </div>

        <div class="col-lg-12 col-12">
            <p class="bold-largest">Add Classes</p>
            <p>
                You can add new classes in your school through this screen. Also you can remove classes by clicking on delete
            </p>
            <hr />
        </div>

        <div class="form-group col-lg-10 col-12 ">

            <div class="col-lg-12 col-12">
                <br />
            </div>

            <div class="col-lg-12 col-12">
                @Html.TextBoxFor(m => m.className, new { @class = "form-control", placeholder = "class name" })
                <br />
            </div>
            <div class="col-lg-12 col-12">
                @Html.TextAreaFor(m => m.description, new { @class = "form-control", placeholder = "description" })
                <br />
                <div>
                    <button id="submitClass" class="btn btn-primary" type="submit">Add Class</button>
                </div>
            </div>
            <div class="col-lg-12 col-12">
                <br />
            </div>


            @if (Model.classesViewModel != null)
            {
                <div class="col-lg-12">
                    <div class="col-lg-12 col-sm-12 col-12 grid" style="font-size:large">
                        <div class="col-lg-6 col-sm-12 col-12 grid_header row">
                            <div class="col-lg-8 col-sm-9 col-9">
                                Name
                            </div>                           
                            <div class="col-lg-4 col-sm-3 col-3">
                                Action
                            </div>
                        </div>
                        @for (int i = 0; i < Model.classesViewModel.Count; i++)
                        {
                            <div class="col-lg-6 col-sm-12 col-12 row">
                                <div class="col-lg-8 col-sm-9 col-9">
                                    @Model.classesViewModel[i].className
                                </div>                                
                                <div class="col-lg-4 col-sm-3 col-3">
                                    <a href='@Url.Action("DeleteClass", "Admin", new { classId = @Model.classesViewModel[i].classId })'>delete</a>
                                </div>
                            </div>                            
                        }
                    </div>
                </div>

            }

            <div class="col-lg-12 col-12">
                <br />
            </div>

        </div>
    </form>

}