@model CuriousDriveWebClient.AnnouncementsViewModel;
@{
    ViewBag.Title = "Announcements - Curious Drive";
    ViewBag.Description = "Curious Drive is a Q&A for techsavies. It's a platform to ask questions and connect with users to learn, share their knowledge, and advance their careers.";
    ViewBag.Keywords = "tech,devices,networks,how";
}

@using (Html.BeginForm("Index", "Announcement", FormMethod.Post, new { @class = "form-horizontal row card", role = "form" }))
{
    <div class="col-lg-12 col-sm-12 col-12">
        <br />
    </div>

    if (@Model != null)
    {
        <div class="col-lg-12 col-12">
            <p class="bold-largest">Recent Announcements</p>
        </div>

        <div class="col-lg-6">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search">
                <div class="input-group-btn">
                    <button class="btn btn-default btn-primary" type="submit">
                        Search
                    </button>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="pagination-sm">
                
            </div>
        </div>

        <div class="col-lg-12 col-sm-12 col-12">
            <hr />
        </div>

        for (int i = 0; i < Model.announcementViewModels.Count; i++)
        {
            <div class="col-lg-12 col-12 hover_effect">
                @Html.ActionLink(Model.announcementViewModels[i].announcementTitle, "Announcement", new { id = Model.announcementViewModels[i].announcementId, title = Model.announcementViewModels[i].announcementTitleURL }, new { @class = "bold-main-link" })
                <br />
                @Model.announcementViewModels[i].announcementHtml
            </div>

            <div class="col-lg-12">
                <br />
            </div>

            <div class="col-lg-6 d-none d-md-block">
                announced on @String.Format("{0:MMM d, yyyy}", Convert.ToDateTime(Model.announcementViewModels[i].createdDate))
            </div>

            <div class="col-lg-4 d-none d-md-block" style="float:right">
                @Html.PartialAsync("_UserDetails", Model.announcementViewModels[i].userDetailsViewModel)
            </div>

            <div class="col-12 d-md-none d-block">
                <br />
            </div>

            <div class="col-3 d-md-none d-block">

            </div>

            <div class="col-9 d-md-none d-block" style="text-align:right">
                @Html.PartialAsync("_UserDetails", Model.announcementViewModels[i].userDetailsViewModel)
            </div>

            <div class="col-4 d-md-none d-block">
                @*@Model[i].iintViews views*@
            </div>

            <div class="col-8 d-md-none d-block" style="text-align:right">
                asked on @String.Format("{0:MMM d, yyyy}", Convert.ToDateTime(Model.announcementViewModels[i].createdDate))
            </div>

            <div class="col-lg-12 col-12">
                <hr style="height:50%" />
            </div>
        }
    }


    <div class="col-lg-12 col-12">
        <br />
    </div>

}

<script type="text/javascript">

</script>