@model CuriousDriveWebClient.AnnouncementsViewModel;

<div class="col-md-12 col-xs-12">
    <br />
</div>

@using (Html.BeginForm("AnnouncementList", "Announcement", FormMethod.Post, new { role = "form" }))
{
    if (Model != null)
    {
        for (int i = 0; i < Model.announcementViewModels.Count; i++)
        {
            <div class="col-md-12 hover_effect">

                <div class="col-md-12 col-xs-12">
                    @Html.ActionLink(Model.announcementViewModels[i].announcementTitle, "Announcement", new { id = Model.announcementViewModels[i].announcementId, title = Model.announcementViewModels[i].announcementTitleURL }, new { @class = "bold-main-link" })
                    <br />
                    @Model.announcementViewModels[i].announcementHtml
                </div>
                
                <div class="col-md-12">
                    <br />
                </div>

                <div class="col-md-6 hidden-xs hidden-sm">
                    announced on @String.Format("{0:MMM d, yyyy}", Convert.ToDateTime(Model.announcementViewModels[i].createdDate))
                </div>

                <div class="col-md-4 hidden-xs hidden-sm" style="float:right">
                    @Html.PartialAsync("_UserDetails", Model.announcementViewModels[i].userDetailsViewModel)
                </div>

                <div class="col-xs-12 hidden-md hidden-lg">
                    <br />
                </div>

                <div class="col-xs-5 hidden-md hidden-lg">
                   
                </div>

                <div class="col-xs-7 hidden-md hidden-lg" style="text-align:right">

                    @Html.PartialAsync("_ProfilePicture", Model.announcementViewModels[i].profilePictureViewModel))
                    @Html.ActionLink(Model.announcementViewModels[i].displayName, "Profile", "UserProfile", new { id = Model.announcementViewModels[i].userId, title = Model.announcementViewModels[i].userURLTitle }, new { @class = "" })
                </div>

                <div class="col-xs-4 hidden-md hidden-lg">
                    @*@Model[i].iintViews views*@
                </div>

                <div class="col-xs-8 hidden-md hidden-lg" style="text-align:right">
                    asked on @String.Format("{0:MMM d, yyyy}", Convert.ToDateTime(Model.announcementViewModels[i].createdDate))
                </div>

            </div>
            
            <div class="col-md-12 col-xs-12">
                <hr style="height:50%" />
            </div>
        }
    }
}
